# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=your_username
DB_PASSWORD=your_password
DB_DATABASE=your_database

# JWT Configuration
JWT_SECRET=your-secret-key-here
JWT_EXPIRATION=7d

# Server Configuration
PORT=3001
NODE_ENV=development

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# PayOS Configuration
PAYOS_CLIENT_ID=your_payos_client_id
PAYOS_API_KEY=your_payos_api_key
PAYOS_CHECKSUM_KEY=your_payos_checksum_key
PAYOS_RETURN_URL=http://localhost:3002/payment/success
PAYOS_CANCEL_URL=http://localhost:3002/payment/cancel
FRONTEND_URL=http://localhost:3002

# Viettel POST 
VIETTEL_POST_TOKEN=8DA1A05E6D93EFB92507FEDB62A157AA
