# dependencies / builds
node_modules/
.next/
dist/
coverage/
*.log
tsconfig.tsbuildinfo

# env & secrets
.env
.env.*
!.env.example

# prisma build outputs (giữ schema)
.prisma/*
!.prisma/schema.prisma

# misc
.DS_Store
